html{
	height: 100%;
}

body{
	background-image: url("wallpaper.jpg");
}

.bloque{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap{
	display: flex;
	flex-wrap: wrap;
}

.contenedor{
	height: 100%;
	margin-top: 3.5%;
	display: flex;
	flex-direction: column;
   	align-items: center;
   	border-style: hidden;
   	border-radius: 3%;
   	background-color: white;
}

.oculto{
	display: none;
}

#registro .login{
	width: 50%;
}

#form_register .form-group{
	width: 100%;
	margin-bottom: 2%;
}

#plantilla{
	margin-bottom: 2%;
}

#form{
	width: 100%;
	display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: stretch;
}

#form>div:first-of-type{
  flex: 0 1 75%;
}

#select{
	width: 100%;
}

.form-group {
    width: 20%;
    margin: 0.5% 2.5%;
}

.btn {
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 2%;
    flex: 0 0 30%;
}